body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.password {
  display: flex;
  height: 100vh;
}

.input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
}

.password-label {
  position: relative;
  margin-left: 6px;
  font-size: 12px;
  color: #000;
  justify-content: start;
}

.password-box {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 40px 80px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
}

.valid-section {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  font-family: 'Apple Braille', 'sans-serif';
}

.icon__eye {
  position: absolute;
  top: 24px;
  right: 6px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.green {
  color: #8fd98f !important;
}

.red {
  color: #e08282;
}

.yellow {
  color: #e0e086;
}


